<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.designge.snakem"
	    versionCode="15" 
        version   = "1.0.1"
		package="com.designge.snakem"
		>
    <name>Snake 'Em</name>
	<icon src="taxi.png" />

	<preference name="phonegap-version" value="3.6.3" />
    <description>
     Snake them up
    </description>
	

    <author href="http://design.ge" email="uabashidze@gmail.com">
        Cyborg-Mcloud
    </author>

 
    <plugins>

    </plugins>
<preference name="orientation" value="landscape" />
	<feature name="http://api.phonegap.com/1.0/network"/>

<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/filetransfer"/>


	<feature name="App">
	  <param name="android-package" value="com.designge.locage"/>
	</feature>

	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.file-transfer" />

</widget>
